body {
  background-color: #025579;
  color: white;
}

#banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.directory-link {
  background-color: #009ca4;
  margin-bottom: 10px;
  border-radius: 2px;
}

#footer {
  background-color: #00618b;
}
