/* start of general styling */

@font-face {
  font-family: Poppins-Bold;
  src: url(fonts/Poppins/poppins-bold.ttf);
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url(fonts/Poppins/poppins-semibold.ttf);
}

@font-face {
  font-family: Poppins-Medium;
  src: url(fonts/Poppins/poppins-medium.ttf);
}

@font-face {
  font-family: Poppins-Regular;
  src: url(fonts/Poppins/poppins-regular.ttf);
}

body {
  font-family: Poppins-Regular;
  color: white;
  margin: 0;
}

h1,
h2 {
  text-align: center;
}

a {
  text-decoration: none;
}

/* end of general styling */

/* start of landing page styling */

#landing-page {
  background-color: #f0fbff;
}

#banner {
  width: 100%;
}

#directory {
  padding: 20px;
  margin-bottom: 20px;
}

.directory-link {
  background-color: #015c83;
  margin-bottom: 10px;
  border-radius: 6px;
}

.directory-link a {
  display: block;
  line-height: 50px;
  width: 100%;
  color: white;
  text-align: center;
  font-family: Poppins-Bold;
}

#contact {
  background-color: #014f70;
  text-align: center;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: Poppins-SemiBold;
}

#contact-methods {
  margin-top: 20px;
}

.contact-method {
  width: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

/* end of landing page styling */

/* start of restaurants styling */

.restaurant-banner {
  width: 100%;
}

/* end of restaurants styling */
