/* start of font face definitions */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* end of font face definitions */

/* start of general styling */

body {
  font-family: Arial, Helvetica, sans-serif; /* fallback */
  background-color: #f9fafb;
  margin: 0;
}

h1,
h2 {
  text-align: center;
}

a {
  text-decoration: none;
}

/* end of general styling */

/* start of navbar styling */

#navbar {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  background-color: white;
  padding: 20px;
}

#back-button {
  color: #e5ebee;
  display: inline-block;
  margin-right: 15px;
}

#page-title {
  color: #014f70;
  display: inline-block;
}

/* end of navbar styling */

/* start of collapsible styling */

.collapsible {
  background-color: white;
  font-family: "Poppins", sans-serif;
  color: #006591;
  margin-top: 10px;
  padding: 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

.collapsible-icon {
  float: right;
  color: #ebeff2;
}

/* .active, .collapsible:hover {
  background-color: #ccc;
} */

.collapsible-content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  background-color: white;
  transition: max-height 0.2s ease-out;
  max-height: 0;
}

/* end of collapsible styling */

/* start of landing page styling */

#landing-page {
  background-color: #f0fbff;
}

#banner {
  width: 100%;
}

#directory {
  color: white;
  padding: 20px;
  margin-bottom: 20px;
}

.directory-link {
  background-color: #006591;
  margin-bottom: 10px;
  border-radius: 6px;
}

.directory-link a {
  display: block;
  line-height: 50px;
  width: 100%;
  color: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

#contact {
  color: white;
  background-color: #014f70;
  text-align: center;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: "Poppins", sans-serif;
}

#contact-methods {
  margin-top: 20px;
}

.contact-method {
  width: 20px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

/* end of landing page styling */

/* start of park facilities styling */

/* TODO */

/* end of park facilities styling */

/* start of local facilities styling */

/* TODO */

/* end of local facilities styling */

/* start of activities styling */

/* TODO */

/* end of activities styling */

/* start of restaurants styling */

.restaurant {
  margin: 20px;
  padding: 16px;
  background-color: white;
  text-align: center;
  border-radius: 12px;
  border: 1px solid #ebeff2;
  box-shadow: 0px 4px 20px 0px rgba(1, 79, 112, 0.08);
}

.restaurant-logo {
  width: 20%;
}

.restaurant-name {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #006591;
}

.restaurant-location {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #3f84a2;
}

.divider {
  border: none;
  height: 1px;
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: #ebeff2;
}
#restaurant-contact-methods {
  margin: 6px;
}
.restaurant-contact-method {
  border-width: 1px;
  border-radius: 64px;
  border-style: solid;
  border-color: #7dacc0;
  background-color: #f8fcfd;
  color: #006591;
  margin: 0px 5px;
  padding: 4px 8px;
}

.courtesy-coach {
  color: #53626e;
  background-color: #f9fafb;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  border-radius: 64px;
  display: inline-block;
  margin-top: 16px;
  padding: 2px 6px;
}

/* end of restaurants styling */
