/* start of font face definitions */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* end of font face definitions */

/* start of general styling */

body {
  font-family: Arial, Helvetica, sans-serif; /* fallback */
  background-color: #f9fafb;
  margin: 0;
}

h1,
h2 {
  text-align: center;
}

a {
  text-decoration: none;
}

/* end of general styling */

/* start of navbar styling */

#navbar {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  background-color: white;
  padding: 20px;
}

#back-button {
  color: #e5ebee;
  display: inline-block;
  margin-right: 15px;
}

#page-title {
  color: #014f70;
  display: inline-block;
}

/* end of navbar styling */

/* start of collapsible styling */

.collapsible {
  background-color: white;
  font-family: "Poppins", sans-serif;
  color: #006591;
  margin-top: 10px;
  padding: 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

.collapsible-icon {
  float: right;
  color: #ebeff2;
}

/* .active, .collapsible:hover {
  background-color: #ccc;
} */

.collapsible-content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  background-color: white;
  transition: max-height 0.2s ease-out;
  max-height: 0;
}

/* end of collapsible styling */

/* start of landing page styling */

#landing-page {
  background-color: #f0fbff;
}

#banner {
  width: 100%;
}

#directory {
  color: white;
  padding: 20px;
  margin-bottom: 20px;
}

.directory-link {
  background-color: #006591;
  margin-bottom: 10px;
  border-radius: 6px;
}

.directory-link a {
  display: block;
  line-height: 50px;
  width: 100%;
  color: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

#contact {
  color: white;
  background-color: #014f70;
  text-align: center;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: "Poppins", sans-serif;
}

#contact-methods {
  margin-top: 20px;
}

.contact-method {
  width: 20px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

/* end of landing page styling */

/* start of park facilities styling */

/* TODO */

/* end of park facilities styling */

/* start of local facilities styling */

/* TODO */

/* end of local facilities styling */

/* start of activities styling */

/* TODO */

/* end of activities styling */

/* start of restaurants styling */

#restaurants-list {
  display: flex;
  min-height: 60px;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

.restaurant-card {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid var(--Neutral-50, #ebeff2);
  background: var(--Neutral-white, #fff);
  box-shadow: 0px 4px 20px 0px rgba(1, 79, 112, 0.08);
}

.restaurant-logo {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 2px solid var(--Neutral-50, #ebeff2);
  background: var(--Neutral-50, #ebeff2);
}

.restaurant-name {
  color: var(--Blue-400, #014f70);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 133%;
}

.restaurant-location {
  color: var(--Blue-200, #2682aa);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 133%;
}

.divider {
  height: 0px;
  align-self: stretch;
  border-top: 1px solid var(--Neutral-50, #ebeff2);
}

#restaurant-contact-methods {
  display: flex;
  align-items: center;
  gap: 16px;
}

.restaurant-contact-method {
  display: flex;
  padding: 8px 12px;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #7dacc0;
  background: var(--Blue-25, #f8fcfd);
  color: #006591;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 133%; /* 18.62px */
}

.courtesy-coach {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  gap: 4px;
  border-radius: 16px;
  background: var(--Neutral-25, #f9fafb);
  color: var(--Neutral-300, #4e5e6a);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 133%;
}

/* end of restaurants styling */
